div{
    margin:5px;
    width:280px;
    height:auto;
    border:1px solid #1d4885;
    box-shadow: 5px 5px 5px #cbcbcb;
    
}
#nvidia {
    float:left;
}
#googleIO {
    float:left;
}
#nest {
    float:left;
}
#io2014 {
    float:left;
}
#P1{
    font-family:Verdana;
    font-size:13px;
    font-weight:bold;
}
#P2{
    font-family:Arial;
    font-size:10px;
}
#P3{
    font-size:13px;
}

#P4{
    font-family:Verdana;
    font-size:13px;
    font-weight:bold;
}
#P5{
    font-family:Arial;
    font-size:10px;
}
#P6{
    font-size:13px;
}

#P7{
    font-family:Verdana;
    font-size:13px;
    font-weight:bold;
}
#P8{
    font-family:Arial;
    font-size:10px;
}
#P9{
    font-size:13px;
}

#P10{
    font-family:Verdana;
    font-size:13px;
    font-weight:bold;
}
#P11{
    font-family:Arial;
    font-size:10px;
}
#P12{
    font-size:13px;
}

.link:hover {
    text-decoration:underline;
}
p {
    padding:2px;
    margin:2px;
}